.header {
  display: flex;
  // width: 100vw;
  height: 34px;
  align-items: center;
  padding-left: 12px;
  
  .icon-box {
    border: 1px solid blue;
    width: 80px;

    .menu-icon {
      width: 33px;
      height: 33px;
    }
  
    .logo-icon {
      width: 29px;
      height: 33px;
      margin-left: 18px;
    }
  }

  .menu-box {
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    
    .menu-item {
      color: #E1E1E1;
      font-family: "Rubik Mono One";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .wallet-box {
    width: 44px;
  }
}