.header {
  display: flex;
  width: 100vw;
  height: 34px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 60px;

  .icon-box {
    width: 100px;

    .menu-icon {
      width: 33px;
      height: 33px;
    }

    .logo-icon {
      width: 29px;
      height: 33px;
      margin-left: 18px;
    }
  }

  .menu-box {
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;

    .menu-item {
      color: #e1e1e1;
      font-family: "RubikMonoOne";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .wallet-box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;

    .wallet-icon {
      width: 44px;
    }
  }

  .connected-wallet {
    display: flex;
    align-items: center;
    color: #2d9ddc;
    font-family: "RubikMonoOne";
  }
}
